body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(191, 199, 67);
  
  }
  p {
    display: flex;
  
    /* justify-content: center; */
    font-family: 'Train One', cursive;
    font-size: 24px;
    top:20px;
    color: rgb(255, 80, 103);
  }
  
  button {

    font-family: 'Encode Sans', sans-serif;
    margin: 0;
    position: absolute;
    top:50%;
    background: rgb(137, 186, 224);
    color: rgb(245, 244, 250);
    font-size: 30px;
    padding: 25px;
    border-radius: 10px;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }
  
  button:hover {
    color: rgb(191, 250, 80);
    background-color: rgb(241, 69, 69);
    filter: drop-shadow(0 0 5px);
  }
  
  
  
 